{{- $injector := index .Values "ovn-kubernetes-resource-injector" }}
{{- if $injector.enabled }}
apiVersion: admissionregistration.k8s.io/v1alpha1
kind: MutatingAdmissionPolicy
metadata:
  name: {{ include "ovn-kubernetes.fullname" . }}-resource-injector
  labels:
    {{- include "ovn-kubernetes.labels" . | nindent 4 }}
spec:
  matchConstraints:
    resourceRules:
    - apiGroups: [""]
      apiVersions: ["v1"]
      operations: ["CREATE"]
      resources: ["pods"]
  matchConditions:
  - name: "exclude-hostnetwork-pods"
    expression: "!has(object.spec.hostNetwork) || object.spec.hostNetwork == false"
  - name: "exclude-skip-annotation"
    expression: '!has(object.metadata.annotations) || !("ovn.dpu.nvidia.com/skip-injection" in object.metadata.annotations)'
  mutations:
  - patchType: "ApplyConfiguration"
    applyConfiguration:
      expression: |
        Object{
          metadata: Object.metadata{
            annotations: {
              "v1.multus-cni.io/default-network": "{{ .Release.Namespace }}/{{ .Values.nadName }}"
            }
          }
        }
  - patchType: "ApplyConfiguration"
    applyConfiguration:
      expression: |
        Object{
          spec: Object.spec{
            containers: [
              Object.spec.containers{
                name: object.spec.containers[0].name,
                resources: Object.spec.containers.resources{
                  requests: {
                    {{ .Values.resourceName | quote }}: string(
                      int(
                        has(object.spec.containers[0].resources) &&
                        has(object.spec.containers[0].resources.requests) && 
                        {{ .Values.resourceName | quote }} in object.spec.containers[0].resources.requests
                        ? object.spec.containers[0].resources.requests[{{ .Values.resourceName | quote }}]
                        : "0"
                      ) + 1
                    )
                  },
                  limits: {
                    {{ .Values.resourceName | quote }}: string(
                      int(
                        has(object.spec.containers[0].resources) &&
                        has(object.spec.containers[0].resources.limits) && 
                        {{ .Values.resourceName | quote }} in object.spec.containers[0].resources.limits
                        ? object.spec.containers[0].resources.limits[{{ .Values.resourceName | quote }}]
                        : "0"
                      ) + 1
                    )
                  }
                }
              }
            ]
          }
        }
  reinvocationPolicy: Never
  failurePolicy: Fail
{{- end }}
